.gpt__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}
.gpt__navbar__links{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.gpt__navbar_links_img{
  margin-right: 2rem;
}
.gpt__navbar_links_img img{
    width: 62.56px;
    height: 16.02px;
}
.gpt__navbar_container ul,
.gpt__navbar__menu__container__links ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.gpt__navbar_container ul li,
.gpt__navbar__menu__container__links ul li,
.gpt__sign a,
.gpt__navbar-menu_container-links-sign a,
.gpt__navbar-menu_container-links-sign a{
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}
.gpt__sign{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.gpt__navbar__menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.gpt__sign button,
.gpt__navbar-menu_container-links-sign button{
    padding: .5rem 1rem;
    background: #FF4820;
    border-radius: 5px;
    border: none;
    outline: none;  
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    cursor: pointer;  
}
.gpt__navbar__menu__container__links ul{
    display: flex;
    flex-direction: column;
}
.gpt__navbar__menu__container__links ul li{
    display: block;
    margin: 3px 0px;
}
.gpt__navbar-menu_container-links-sign a{
    margin: 0px 0px 6px 0px;
    display: block;
}
.gpt__navbar__menu svg{
    cursor: pointer;
    color: #fff;
    font-size: 30px;
}
.gpt__navbar__menu__container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 220px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
    
}

@media screen and (max-width:1050px){
    .gpt__navbar_container{
        display: none;
    }
    .gpt__sign{
        display: none;
    }
    .gpt__navbar__menu{
        display: block;
    }
}

@media screen and (max-width:700px){
    .gpt__navbar{
        padding: 2rem 4rem;
    }
}


@media screen and (max-width:500px){
    .gpt__navbar{
        padding: 2rem;
    }
    .gpt__navbar__menu__container{
        top: 20px;
    }
}