.gpt__header{
    display: flex;
    flex-direction: row;
}
.gpt__header__content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 2rem;
}
.gpt__header__content h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}
.gpt__header__content p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);
    margin: 1.5rem 0;
}
.gpt__header__input{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2rem 0 1rem;
}
.gpt__header__input input{
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.gpt__header__input input::placeholder{
    text-transform: capitalize;
}
.gpt__header__input button{
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: #FF4820;
    border: 2px solid #FF4820;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;
    text-transform: capitalize;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.gpt__header__people{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}
.gpt__header__people img{
    width: 181.79px;
    height: 38px;
    margin-right: 1.3rem;
}
.gpt__header__image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.gpt__header__image img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width:1050px) {
    .gpt__header{
        flex-direction: column;
    }
    .gpt__header__content{
        margin: 0 0 2rem;
    }
}

@media screen and (max-width:650px) {
    .gpt__header__content h1{
        font-size: 48px;
        line-height: 60px;
    }
    .gpt__header__content p{
        font-size: 16px;
    }
    .gpt__header__input input,
    .gpt__header__input button{
        font-size: 16px;
        font-weight: 500;
    }
    .gpt__header__people{
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width:490px) {
    .gpt__header__content h1{
        font-size: 36px;
        line-height: 48px;
    }

    .gpt__header__content p{
        font-size: 14px;
        line-height: 24px;
    }

    .gpt__header__input input,
    .gpt__header__input button{
        font-size: 12px;
        line-height: 16px;
    }
}